<h2>Estórias de Usuários</h2>
<div class="heroes">
  <div *ngFor="let estoria of estorias" [class.selected]="estoria === selectedEstoria">
    <div id="estoria-card" class="card z-depth-5 clearfix">
      <div id="left" class="col-xs col-sm-3 col-md-5">
        <h3> {{estoria.titulo}}</h3>
        <span> {{estoria.descricao}}</span>              
      </div>      
      <div class="col-xs col-sm-1 col-md-1">
        <button class="delete" (click)="delete(estoria.id); $event.stopPropagation()">Finalizar</button>
        <h4 class="points">{{estoria.pontos}} Pontos</h4>   
      </div>
      <div id="tarefas" class="col-xs col-sm-4 col-md-6" (click)="toggleTarefas(estoria)">
        <span>Tarefas</span>
      </div>
    </div>
    <div *ngIf="estoria === selectedEstoria">
      <div class="card z-depth-5 clearfix tarefa-card" *ngFor="let tarefa of estoria.tarefas">
        <span>Tarefa: {{ tarefa.descricao }}</span>
      </div>      
    </div>
  </div>
  <div class="tarefa-form">
    <h2>Nova Tarefa</h2>
    <label for="description">Descrição:</label> <input id="description" #descricao />
    <button (click)="addTarefa(selectedEstoria, descricao.value); descricao.value=''">Adicionar Tarefa</button>
  </div>
</div>