h2 {
  color: #444;
}
.card {
  color: #444;
  background-color: #f3a559 !important;  
}

button {
  color: #444;
}

span, label {
  display: block;  
}

.delete {
    margin-top: 10%;
    margin-right: 20%;
    float: right;
}

.points {
  margin-top: 5%;
  margin-right: 26%;
  float: right;
}

h3 {
  margin-left: 5%;
}

#left span {
  margin-left: 5%;
  margin-top: 3%;
}

#tarefas {
  border-top: 1px solid #ffd8a6;
  background-color: #f3a559;
  margin-top: 3%;
  cursor: pointer;
}
#tarefas:hover {
  background-color: #ffd8a6;
}

#tarefas span {    
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;  
}

.tarefa-card span {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.tarefa-card {
  background-color: #ffd8a6 !important;
}

.tarefa-form {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 2%;
  color: #444;
}
.tarefa-form h2 {
  margin-left: 0;
}
.tarefa-form label {
  margin-left: 0;
  margin-bottom: 10px; 
}
.tarefa-form input {
  margin-left: 0;  
  width: 50%;
}
.tarefa-form button {
  margin-left: 10px;  
  background-color: #DDD;
}